.championDiv {
    margin: 20px;
}

.championPic {
    width:300px ;
    height: 300px;
    border-radius: 40px;
    cursor: pointer;
}

.championTitle {
    color: rgb(98, 145, 185);
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(5, 5, 5);
}

.buttonWrap{
    position: "relative";
    z-Index: 1;
  }