.championDiv {
    margin: 20px;
}

.championPic {
    width:300px ;
    height: 300px;
    border-radius: 40px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(200, 196, 219);
}

.championTitle {
    color: rgb(200, 196, 219);
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(5, 5, 5);
}

.buttonWrap{
    position: "relative";
    z-Index: 1;
  }